.developerlist{
	background: #fff;
	border: 6px solid blue;
	border-radius: 10px;
	width: 750px;
	min-width: 750px;
	height: 750px;
	min-height: 750px;
	margin: 5px;
	margin-top: 15px;
	margin-right: 300px;
	float: right;

}

.developerlist h4{
	font-weight: bold;
	margin: 10px;
	color: blue;
}